# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*/node_modules
*/out
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/types/auto-imports.d.ts
src/types/components.d.ts
.eslintrc-auto-import.json

!packages/api/dist
!packages/vite-plugin-msw/dist
!packages/vite-plugin-naive-theme/dist
!packages/unocss-preset-multi-theme/dist

.mocks/
docs/.vitepress/cache
docs/docs/.vitepress/cache/
src/router/autogen-routes-types.ts
src/router/autogen-routes.json
src/styles/uno.css
src/types/theme.d.ts
build-stats.html
